.individualcomponent{
  /* padding: 5px; */
  border-color: lightsteelblue;
  border-width: 0.1px;
  padding: 1%;
  background-color: initial;
  margin-top: 25px;
  margin-left: 6.8%;
  width: 41%;
  height: 550px;
  /* height: fit-content; */
  box-shadow: 2px 2px 10px 10px rgb(73, 73, 73) ;
  flex: 0 1 40%;
  border-radius: 20px;
  margin-bottom: 4%;
}
.individualcomponent:hover{
/* flex: 0 1 42%;
height: 360px;
margin-left: 5.8%; */
transform: scale(1.05,1.05);
 /* background-color: #c2c2c2; */
 transition: 1s;
 z-index: 1;
}
.title{

  margin: 2%;
  text-align: center;
}
.desc{
  text-align: center;
  margin: 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.image{
  margin-left: 5%;
  width: 90%;
  height: 60%;
}
.knowmore{
  width: fit-content;
  align-items: center;
  align-self: center;
}
element.style {
    color: darkgray;
}
element.style {
  border-color: lightsteelblue;
  border-width: thick;
  background-color: initial;
}
.descr{
  color: darkgray;
  
}