.projects{
  margin-top: 20px;
 width: 100%;
 /* height: fit-content; */
 display: flex;
 flex-wrap: wrap;
 /* margin-bottom: 5px; */
 /* justify-content: space-around; */
 /* background-color: #c60000; */
}
