.complete {
  width: 43%;
  height: 90%;
  color: aliceblue;
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  .complete {
    width: 65%;
    color: aliceblue;
    overflow: hidden;
  }
}

.h5tag {
  color: aliceblue;
  animation: nameanime 3s infinite reverse;
  overflow: hidden;
}
.desc {
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  /* margin-top: 10%; */
  justify-content: center;
  color: aliceblue;
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  .desc {
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    overflow: hidden;
    text-align: center;
  }
}

.right{
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.complete img {
  margin-left: 10%;
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
  animation: imageanime infinite 4s ease-in-out;
}
@keyframes nameanime {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide1 {
  border: 3px dotted rgb(96, 96, 96);
  margin: 0px 5% 0px 5%;
  margin-top: 5%;
  height: 50%;
  padding: 3%;
  display: flex;
  /* justify-content: center; */
  align-items: center; 
}
@media only screen and (max-width: 480px) {
  .slide1 {
    border: 3px dotted rgb(96, 96, 96);
    margin: 5% 5% 0px 5%;
    height: fit-content;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}
.slide1:hover{
  border: 3px solid rgb(229, 229, 229);
  transition: 2s;
}
