.m{
  text-align: center;
  justify-content: center;
}
.technologyused{
  margin-top: 10px;
  margin-left: 10px;
}
.center{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
}
.subtitle{
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  margin-top: 2%;
  margin-left: 15%;
  font-weight: 300;
  color: #868686  ;
  /* text-align: center; */
}
.title{
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  margin-top: 2%;
  font-weight: Bold;
  color: #41FDFE  ;
  text-align: center;
}
.table{
  width: fit-content;
  height: fit-content;
  justify-self: center;
  
}
.footer{

  width: 80%;
  text-align: center;
  align-self: center;
  /* border: solid white; */
  background-color: #222222;
  border-radius: 10px;
  justify-content: center;
}
.complete{
  width: 100%;
  display: flex;
  justify-content: center;
}
.project{
    border-color: lightsteelblue;
    border-width: thick;
    background-color: initial;
}
.cla1{
  width: 20%;
  height: 20%;
  border: solid 4px black;
  margin: 10px;
}
.mai{
  width: 100%;
  height: fit-content;
  display: flex;
}
#id1{
  width: 30%;
  height: 100vh;
  position: sticky;
  top: 2px;
}
#id2{
  width: 70%;
}
.adminprojects{
  align-items: center;
  background-color: aliceblue;
  padding: 40px;
}
.adminprojectgeneral{
  margin-bottom: 10px;
  width: 100%; 
 
  
  display: flex;
  flex-direction: row;
}
.spacebetween{
  margin-top: 10px;
}
.textalign{
  text-align: justify;
}