.pagebg{
/* position: absolute; */
  width: 100vm;
  height:fit-content;
  background-color: #000000;

}

*{
  padding: 0px;
  margin: 0px;
}
.section{
  /* position: absolute; */

    /* position: absolute; */
    display: flex
;
    background-color: #101010;
    width: 100%;
    /* margin-left: 5%; */
    height: 100%;
    align-items: center;
    align-self: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;

}